// 换行类型列表
$wrap-list: wrap nowrap wrap-reverse;

$align-item-list: flex-start flex-end center baseline stretch;

$align-content-list: flex-start flex-end center space-between space-around stretch;

$justify-content-list: flex-start flex-end center space-between space-around;

$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.row {
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
}

.col, .row {
  display: flex;
  &::after, &::before {
    content: "";
    clear: both;
  }

  // 换行
  @each $wrapWay in $wrap-list {
    &.#{$wrapWay} {
      flex-wrap: $wrapWay
    }
  }

  // 排序
  @for $i from 0 through 10 {
    > .order-#{$i} {
      order: $i
    }
  }

  // 布局
  @for $i from 0 through 10 {
    > .col-#{$i}, > .col-xs-#{$i}, > .col-sm-#{$i}, > .col-md-#{$i}, > .col-lg-#{$i} {
      flex: $i;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  // 放大
  @for $i from 0 through 10 {
    > .grow-#{$i} {
      flex-grow: $i
    }
  }

  // 交叉轴对齐方式
  @each $alignItemWay in $align-item-list {
    &.align-item-#{$alignItemWay} {
      align-items: $alignItemWay
    }
  }

  // 多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用
  @each $alignContentWay in $align-content-list {
    &.align-content-#{$alignContentWay} {
      align-items: $alignContentWay
    }
  }

  // 主轴的对齐方式
  @each $justifyItemWay in $justify-content-list {
    &.justify-content-#{$justifyItemWay} {
      align-items: $justifyItemWay
    }
  }

  // 缩小比例 default:1
  @for $i from 0 through 10 {
    > .shrink#{$i} {
      flex-shrink: $i
    }
  }

  // 响应式
  // xs
  @media screen and (max-width: $screen-xs-max) {
    @for $i from 0 through 10 {
      > .col-xs-#{$i} {
        display: block;
      }
      > .col-sm-#{$i} {
        display: none !important;
      }
      > .col-md-#{$i} {
        display: none !important;
      }
      > .col-lg-#{$i} {
        display: none !important;
      }
    }
  }

  // sm
  @media screen and (min-width: $screen-sm-min) {
    @for $i from 0 through 10 {
      > .col-xs-#{$i} {
        display: none !important;
      }
      > .col-sm-#{$i} {
        display: block;
      }
      > .col-md-#{$i} {
        display: none !important;
      }
      > .col-lg-#{$i} {
        display: none !important;
      }
    }
  }

  // md
  @media screen and (min-width: $screen-md-min) {
    @for $i from 0 through 10 {
      > .col-xs-#{$i} {
        display: none !important;
      }
      > .col-sm-#{$i} {
        display: none !important;
      }
      > .col-md-#{$i} {
        display: block;
      }
      > .col-lg-#{$i} {
        display: none !important;
      }
    }
  }

  // lg
  @media screen and (min-width: $screen-lg-min) {
    @for $i from 0 through 10 {
      > .col-xs-#{$i} {
        display: none !important;
      }
      > .col-sm-#{$i} {
        display: none !important;
      }
      > .col-md-#{$i} {
        display: none !important;
      }
      > .col-lg-#{$i} {
        display: block;
      }
    }
  }

}
