@import "var";

@each $query in $max-query {
  @media screen and (max-width: $screen-xs-max) {
    @for $i from 0 through $grid {
      .col-#{$query}-#{$i} {
        flex: 0 0 percentage($i/$grid);
        max-width: percentage($i/$grid);
      }
    }

    @for $i from 0 through $grid {
      .offset-#{$query}-#{$i} {
        margin-left: percentage($i/$grid);
      }
    }

    // pull
    @for $i from 0 through $grid {
      .pull-#{$query}-#{$i} {
        right: percentage($i/$grid);
      }
    }

    // push
    @for $i from 0 through $grid {
      .push-#{$query}-#{$i} {
        left: percentage($i/$grid);
      }
    }

    // grow
    @for $i from 0 through $grid {
      .grow-#{$query}-#{$i} {
        flex-grow: $i
      }
    }

    // 缩小比例 default:1
    @for $i from 0 through $grid {
      .shrink-#{$query}#{$i} {
        flex-shrink: $i
      }
    }

    @each $wrapWay in $wrap-list {
      .#{$wrapWay}-#{$query} {
        flex-wrap: $wrapWay
      }
    }
  }
}

@each $query-name in $min-query-name {
  $index: index($min-query-name, $query-name);
  $screen-min-width: nth($min-query-screen-width, $index);
  $container-width: nth($min-query-container-width, $index);
  @media screen and (min-width: $screen-min-width) {
    @for $i from 0 through $grid {
      .col-#{$query-name}-#{$i} {
        flex: 0 0 percentage($i/$grid);
        max-width: 0 0 percentage($i/$grid);
      }
    }

    @for $i from 0 through $grid {
      .offset-#{$query-name}-#{$i} {
        margin-left: percentage($i/$grid);
      }
    }

    // pull
    @for $i from 0 through $grid {
      .pull-#{$query-name}-#{$i} {
        right: percentage($i/$grid);
      }
    }

    // push
    @for $i from 0 through $grid {
      .push-#{$query-name}-#{$i} {
        left: percentage($i/$grid);
      }
    }

    // grow
    @for $i from 0 through $grid {
      .grow-#{$query-name}-#{$i} {
        flex-grow: $i
      }
    }

    // 缩小比例 default:1
    @for $i from 0 through $grid {
      .shrink-#{$query-name}-#{$i} {
        flex-shrink: $i
      }
    }

    @each $wrapWay in $wrap-list {
      .#{$wrapWay}-#{$query-name} {
        flex-wrap: $wrapWay
      }
    }

    .container {
      width: $container-width;
    }
  }
}