$wrap-list: wrap nowrap wrap-reverse;

$align-item-list: flex-start flex-end center baseline stretch;

$align-content-list: flex-start flex-end center space-between space-around stretch;

$justify-content-list: flex-start flex-end center space-between space-around;

$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$padding: 15px;

$grid: 24;

$min-query-name: xs sm md lg;
$min-query-screen-width: -$screen-xs-max $screen-sm-min $screen-md-min $screen-lg-min;
$min-query-container-width: 100% 750px 970px 1170px;