$wrap-list: wrap nowrap wrap-reverse;

$align-item-list: flex-start flex-end center baseline stretch;

$align-content-list: flex-start flex-end center space-between space-around stretch;

$justify-content-list: flex-start flex-end center space-between space-around;

$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$padding: 15px;

$grid: 24;

$query: xs sm md lg;